h3{
    margin-top: 30px; color: gray;}
    h1{
    margin-left: 20px;
    }
    .imagen{
    float: left;
    margin-Left: 200px; margin-top: 30px;
    }
    .caracteristicas{float: right;
    }
    @import url(https://cdnj5.cloudfLare.com/ajax/Libs/font-avesome/6.2.6/c55/att.min.css);
    body {
    
    background-color: #F2F4F8;}
    .texto{ 
    margin-top: 30px; margin-bottom: 20px; float:center;
    text-aLign: left;}
    p{
    font-size:larger;
    }